/* google font add */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* font-weight variables */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: var(--fw-regular);
  font-style: normal;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0;

  /* color Variables */
  --orange-color: #f87719;
  --white-color: #fff;
  --black-color: #111;
  --background-color: #111;
  --text-color: #fff;
  --grey-color: #b7b7b7;
  --secondary-text-color: #f8f8f8;
  --secondary-black-color: #282828;
  --grey-white-theme-color: #595959;
  --primary-linear-color: linear-gradient(
    to bottom right,
    rgba(248, 65, 25, 1) 100%,
    rgba(248, 159, 25, 0.68) 0%
  );
  --secondary-linear-color: linear-gradient(
    to top left,
    rgba(248, 65, 25, 1) 0%,
    rgba(248, 159, 25, 0.68) 100%
  );
  --grey-linear-color: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 1) 63%,
    rgba(0, 0, 0, 0) 92%
  );

  /* shadow filters */
  --primary-shadow: drop-shadow(1, 1, 24, 2, rgba(1, 1, 1, 0.45));
  --secondary-shadow: drop-shadow(1, 1, 14, 4, rgba(255, 107, 8, 0.42));
  --white-theme-shadow: drop-shadow(1, 1, 14, 4, rgba(0, 0, 0, 0.22));

  color: var(--white-color);
  background-color: var(--black-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme='light'] {
  /* color Variables */
  --background-color: #fff;
  --text-color: #111;
}

*,
*.before,
*.after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* mobile design */
body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  width: 320px;
  height: 2014px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: auto;
  letter-spacing: 0;
  font-weight: var(--fw-regular);
}

/* Fonts Ajustment */
h1 {
  font-size: 40px;
  font-weight: var(--fw-bold);
  line-height: auto;
  letter-spacing: 0;
}

h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
  line-height: auto;
  letter-spacing: 0;
}

h3 {
  font-size: 14px;
  font-weight: var(--fw-regular);
  line-height: auto;
  letter-spacing: 0;
}

.text {
  font-size: 12px;
  font-weight: var(--fw-regular);
  line-height: auto;
  letter-spacing: 0;
}

.small-text {
  font-size: 10px;
  font-weight: var(--fw-regular);
  line-height: auto;
  letter-spacing: 0;
}

/* Buttons Ajustment */
.btn-primary {
  width: 117px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--primary-linear-color);
  color: var(--black-color);
  text-align: center;
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: var(--fw-medium);
  line-height: 1.56;
  letter-spacing: 0;
}

.btn-primary:hover {
  background-color: var(--white-color);
  color: var(--orange-color);
  border: 1px solid var(--primary-linear-color);
}

.btn-secondary {
  width: 117px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  color: var(--white-color);
  text-align: center;
  border: 1px solid var(--primary-linear-color);
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: var(--fw-medium);
  line-height: 1.56;
  letter-spacing: 0;
}

.btn-secondary:hover {
  background-color: var(--text-color);
  color: var(--orange-color);
  border: 1px solid var(--text-color);
}

.btn main {
  flex-grow: 1;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  body {
    width: 768px;
    height: 1847px;
    font-size: 14px;
  }

  /* Fonts Ajustment */
  h1 {
    font-size: 52px;
    font-weight: var(--fw-bold);
    line-height: auto;
    letter-spacing: 0;
  }

  h2 {
    font-size: 24px;
    font-weight: var(--fw-medium);
    line-height: auto;
    letter-spacing: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .text {
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .small-text {
    font-size: 12px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .btn-primary {
    width: 128px;
    height: 40px;
  }

  .btn-secondary {
    width: 128px;
    height: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  body {
    width: 1280px;
    height: 2213px;
    font-size: 16px;
  }

  /* Fonts Ajustment */
  h1 {
    font-size: 64px;
    font-weight: var(--fw-bold);
    line-height: auto;
    letter-spacing: 0;
  }

  h2 {
    font-size: 28px;
    font-weight: var(--fw-medium);
    line-height: auto;
    letter-spacing: 0;
  }

  h3 {
    font-size: 20px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .text {
    font-size: 16px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .small-text {
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: auto;
    letter-spacing: 0;
  }

  .btn-primary {
    width: 139px;
    height: 48px;
  }

  .btn-secondary {
    width: 139px;
    height: 48px;
  }
}
